nav,
.nav {
    color: white;
    background: linear-gradient(aqua, black);
}

main,
.main {
    background: linear-gradient(aqua, rgb(211, 25, 25));
}

.banner {
    width: 100%;
    height: auto;
}

.btn1 {
    color: green;
    background-color: red;
}

.btn2 {
    color: crimson;
    background-color: green;
}

footer,
.footer {
    background: linear-gradient(to top, aqua, black);
    color: white;
}

